@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #ffffff;
  color: #4e4e4e;
}

html.dark body {
  background-color: #13112b;
  color: #f8f8f8;

}