@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #FFFFFF;
  color: #2d3748;
}

html.dark body {
  background-color: #242424;
  color: #f8f8f8;

}